<!doctype html>
<html lang="es"> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">

    <title>Fashion Style</title>
    <link rel=icon href="https://i.pinimg.com/originals/99/77/28/997728280935042d5ee9a488cddd9ff2.jpg%22%3E">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body>
      <body background="https://img.wallpapersafari.com/tablet/768/1024/63/78/P896yi.jpg"></body>
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="C:\Users\Carlo\Desktop\Duoc\WEB MOBIL\Proyecto\peluweb\core\templates\core\home.html">
        <img src="https://cdn.discordapp.com/attachments/717565676184928287/751295516788391987/12.png" width="100" height="50" alt="" loading="lazy">
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
            <a class="nav-link" href="{% url 'login' %}">login</a>
            
          </div>
        </div>
      </nav>
    
    
      
    <div class="contenedor">

        {% block contenido %}

        {% endblock %}
    
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </body>
</html>