{% extends 'core/base.html'%}

{% load static %}

{% block contenido %}

<main class="contenido">
  <h1>Fashion Style</h1>
  <p>Una peluquería o barbería es un local donde se ofrecen varios servicios estéticos,
      principalmente el corte de pelo, pero también suelen realizarse otros como afeitado,
      depilado, manicura, pedicura, etc. Cuando se trata de muchos servicios diferentes suele llamarse salón de belleza.
      
  </p>
</main>

<aside class="sidebar">
  <h3>Precios <br> <br>
      <img src="https://cdn.discordapp.com/attachments/724783413202255924/756013487158722580/Screenshot_23.png" width="210" height="250" alt=""> <br><br>
      Ondulado $10.000 <br> <br>
      Teñido $20.000 <br> <br>
      Pestañas $10.000 <br> <br>
      Degradado $8.000 <br> <br>
      <br>
      <img src="https://cdn.discordapp.com/attachments/724783413202255924/758129257750200390/unknown.png" width="200" height="200" alt="">
      <br>
      <br>
      Uñas $14.000<br> <br>
      Uñas con diseño $20.000<br> <br>
      Uñas con foto $25.000<br> <br>
      

  </h3>
  
</aside>

<div class="imagen1">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn.discordapp.com/attachments/758448415658344499/759215363937271823/barberia.jpg"  class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.discordapp.com/attachments/758448415658344499/759215376164323358/dua.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.discordapp.com/attachments/758448415658344499/759229403040579604/Corinna-Kopf-Facebook-Gaming-768x399.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <br>
      <br>
      <h3>
        <a class="nav-link" href="C:\Users\Carlo\Desktop\Duoc\WEB MOBIL\Proyecto\peluweb\core\templates\core\galeria">Galeria</a>
      </h3>   
      
      
<br>

<div class="mapa">
<h3>Ubicación de nuestra peluquería</h3>

<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1662.1138650757598!2d-70.608522!3d-33.573436!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x84c0dd125f895d5e!2sPeluqueria%20Fashion%20Style!5e0!3m2!1ses-419!2scl!4v1604547884496!5m2!1ses-419!2scl" 
width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>


</div>

<footer class="footer">
  
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Correo</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">No eres un Robot</label>
      </div>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
  
  
</footer>

{% endblock %}