{% extends 'core/base.html' %}

{% load static %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'core/js/confirmacion.js' %}"></script>
{%% endblock %}

{% block contenido %}

<h2> listado usuarios </h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo Electronico</th>
        <th>Rut</th>
        <th>Opciones</th>
    </tr>
</table>

    {% for p in usuarios %}

    <tr>
        <td>{{ p.Nombre }}
        <td>{{ p.Apellido }}
        <td>{{ p.Correo Electronico }}
        <td>{{ p.Sexo }}
        <td>{{ p.Rut }}
        <td>
            <a href="(% url 'modificar_usuario' p.id %)">Modificar</a>
            <a href="#" oneclik="confirmarEliminacion( p.id )">Eliminar</a>
        </td>
    </tr>

    {% endfor %}


{% endblock %}