{% extends 'core/base.html' %}

{% block  contenido %}

<h2> nuevo usuarios </h2>

<form action="" method="POST">
    {% csrf_token %}
    <table>
         {{ form.as_table }}
    </table>

    <input type="reset" value="Limpiar">
    <input type="submit" value="Guardar">

</form>

{{ mensaje }}


{% endblock %}