body{
    color: white;
}

nav{
    color: white;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: black;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .contenido{
    grid-column: span 2;
}

.contenedor .imagen1 {
    background: black;
    grid-column: 1 / 3;
    
}

.contenedor .sidebar{
    grid-column: 3 / 4;
    min-height: 100px;
    grid-row: span 2;
}

.contenedor .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    background: black;
    color: white;
    grid-column: span 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info{
    background: white;
}


@media (max-width: 767.98px) {
    .contenedor .contenido{
        grid-column: 1 / -1;
    }

    .contenedor .sidebar{
        grid-column: 1 / -1;
    }

    .contenedor .imagen1-1 {
        grid-column: span 2;
    }
}
