body{
    color: white;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto);
}

.contenedor > div,
.contenedor .contenido,
.contenedor .imagenes{
    background: black;
    padding: 20px;
    border-radius: 4px;
}

@media (max-width: 767.98px) {
    .contenedor .contenido{
        grid-column: 1 / -1;
    }
}
